.page-header {
    border-bottom: 1px solid #009d40;
  margin: 5px 0 5px;
}

h1, .markdown-body h1 {
  font-size: 40px;
}

h2, .markdown-body h2 {
    font-size: 26px;
  padding-bottom: 3px;
  border-bottom: 1.5px solid #009d40;
}

h3, .markdown-body h3 {
    font-size: 20px;
    font-style: italic;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
